/app/photosenseignants/
/app/photosetudiants/
/app/photosuser/
/app/photosetudiants.zip
/app/Motors/
/dash/
/data/backdb.php
/file/
/framework/
/node_modulesC/
/src/student/ajax-meilleurs-etudiants.php
