# Activer le module de réécriture
RewriteEngine On

# Servir les fichiers .php sans l'extension (compatibilité arrière)
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php [L]
